{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'predict/main.css' %}">

    <title>RNG Predictor</title>
  </head>
  <body>
    <div class="content">
      <h1>Predict Mersenne Twister Values</h1>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <br><button type="submit">Predict</button>
        <label>Predicts future random numbers</label>
      </form>
      <hr>
      <h2>Predicted Values</h2>
      <ol>
        {% for i in text %}
          <li>{{ i }}</li>
        {% endfor %}
      </ol>

    </div>
  </body>
</html>
